.App {
  text-align: center;
  padding: 20px;
}
.container{
  display: flex;
}

.raw  img{
    width: 100%;
  }
.result{
  width: 50%;
}
.result canvas{ width: 100%;}
.canvas-result{
  

}
.canvas-result div{
  position: relative;
  height: 80%;
}
.canvas-result canvas{
  width: 100%;
}
.canvas-result .loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}